<a href="https://colab.research.google.com/github/alikunikeeva/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Aliya_Kunikeeva_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
### YOUR CODE STARTS HERE
from google.colab import files
uploaded = files.upload()

Saving house-votes-84.data to house-votes-84.data

In [0]:
#attribute info
1. Class Name: 2 (democrat, republican)
2. handicapped-infants: 2 (y,n)
3. water-project-cost-sharing: 2 (y,n)
4. adoption-of-the-budget-resolution: 2 (y,n)
5. physician-fee-freeze: 2 (y,n)
6. el-salvador-aid: 2 (y,n)
7. religious-groups-in-schools: 2 (y,n)
8. anti-satellite-test-ban: 2 (y,n)
9. aid-to-nicaraguan-contras: 2 (y,n)
10. mx-missile: 2 (y,n)
11. immigration: 2 (y,n)
12. synfuels-corporation-cutback: 2 (y,n)
13. education-spending: 2 (y,n)
14. superfund-right-to-sue: 2 (y,n)
15. crime: 2 (y,n)
16. duty-free-exports: 2 (y,n)
17. export-administration-act-south-africa: 2 (y,n)

In [0]:
import pandas as pd
column_headers= ['Class_Name','handicapped-infants','water-project-cost-sharing','adoption-of-the-budget-resolution','physician-fee-freeze','el-salvador-aid','religious-groups-in-schools','anti-satellite-test-ban','aid-to-nicaraguan-contras','mx-missile','immigration:','synfuels-corporation-cutback:','education-spending:','superfund-right-to-sue:','crime:','duty-free-exports:','export-administration-act-south-africa:']
df = pd.read_csv('house-votes-84.data', names=column_headers)
df.describe()

       Class_Name  ... export-administration-act-south-africa:
count         435  ...                                     435
unique          2  ...                                       3
top      democrat  ...                                       y
freq          267  ...                                     269

[4 rows x 17 columns]

In [0]:
df['Class_Name'].value_counts()

democrat      267
republican    168
Name: Class_Name, dtype: int64

In [0]:
import numpy as np

df = df.replace({'y': 1, 'n': 0, '?': np.NaN})

In [0]:
df.isnull().sum()

Class_Name                                   0
handicapped-infants                         12
water-project-cost-sharing                  48
adoption-of-the-budget-resolution           11
physician-fee-freeze                        11
el-salvador-aid                             15
religious-groups-in-schools                 11
anti-satellite-test-ban                     14
aid-to-nicaraguan-contras                   15
mx-missile                                  22
immigration:                                 7
synfuels-corporation-cutback:               21
education-spending:                         31
superfund-right-to-sue:                     25
crime:                                      17
duty-free-exports:                          28
export-administration-act-south-africa:    104
dtype: int64

In [0]:
dem = df[df['Class_Name']=='democrat']
rep = df[df['Class_Name']=='republican']
dem.describe()

       handicapped-infants  ...  export-administration-act-south-africa:
count           258.000000  ...                               185.000000
mean              0.604651  ...                                 0.935135
std               0.489876  ...                                 0.246956
min               0.000000  ...                                 0.000000
25%               0.000000  ...                                 1.000000
50%               1.000000  ...                                 1.000000
75%               1.000000  ...                                 1.000000
max               1.000000  ...                                 1.000000

[8 rows x 16 columns]

In [0]:
rep.describe()

       handicapped-infants  ...  export-administration-act-south-africa:
count           165.000000  ...                               146.000000
mean              0.187879  ...                                 0.657534
std               0.391804  ...                                 0.476168
min               0.000000  ...                                 0.000000
25%               0.000000  ...                                 0.000000
50%               0.000000  ...                                 1.000000
75%               0.000000  ...                                 1.000000
max               1.000000  ...                                 1.000000

[8 rows x 16 columns]

In [0]:
#1) Null hypothesis: H0:μ==x¯ 
#    80% democrates support immigration bill 
#2)Alternate Hypothesis: 
#  democrates support immigration more or less than 80% 
#3) Confidence Level: 95%
#4) P value 
#5) Conclusion

In [0]:
dem['immigration:'].mean()

0.4714828897338403

In [0]:
#omitting(vs propogate,raise) nan_policy drops NaNs from n size 
#t statistic is 0.0156 and p_value 0.9875 way larger than .01 
#we fail to reject (null) that 80% democrates support immigration bill 
from scipy import stats
stats.ttest_1samp(dem['immigration:'], .471, nan_policy='omit')

Ttest_1sampResult(statistic=0.015657994057564045, pvalue=0.9875191555769084)

In [0]:
rep['physician-fee-freeze'].mean()

0.9878787878787879

In [0]:
#1) Null hypothesis: H0:μ==x¯ 
#    80% republicans support physician-fee-freeze bill 
#2)Alternate Hypothesis: 
#   republicans support this bill more or less than 80% 
#3) Confidence Level: 95%
#4) P value =0.99
#5) Conclusion

In [0]:
# with a t statistic of .00922 and p value (0.99) >.01 we fail to reject (null) that 80% republicans support physician-fee-freeze bill
stats.ttest_1samp(rep['physician-fee-freeze'], .9878, nan_policy='omit')

Ttest_1sampResult(statistic=0.009220542549547836, pvalue=0.9926543823942301)

In [0]:
#1) Null hypothesis: H0:μ==x¯ 
#    Both Democrat and Republicans support duty-free-exports equally
#2)Alternate Hypothesis: 
#  One party supports duty-free-exports more than the other
#3) Confidence Level: 95%
#4) P value 
#5) Conclusion

In [0]:
#Tstatistic is 12.853 snd p-value 5.99e-32 being waaaay smaller than .01 we fail to reject that 
#Both Democrat and Republicans support duty-free-exports equally

stats.ttest_ind(dem['duty-free-exports:'], rep['duty-free-exports:'], nan_policy='omit')

Ttest_indResult(statistic=12.853146132542978, pvalue=5.997697174347365e-32)

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!

In [0]:
def Tstat ()

In [0]:
rep = rep.notna()
rep.isnull().sum()

Class_Name                                 0
handicapped-infants                        0
water-project-cost-sharing                 0
adoption-of-the-budget-resolution          0
physician-fee-freeze                       0
el-salvador-aid                            0
religious-groups-in-schools                0
anti-satellite-test-ban                    0
aid-to-nicaraguan-contras                  0
mx-missile                                 0
immigration:                               0
synfuels-corporation-cutback:              0
education-spending:                        0
superfund-right-to-sue:                    0
crime:                                     0
duty-free-exports:                         0
export-administration-act-south-africa:    0
dtype: int64

In [0]:
dem = dem.notna()
dem.isnull().sum()

Class_Name                                 0
handicapped-infants                        0
water-project-cost-sharing                 0
adoption-of-the-budget-resolution          0
physician-fee-freeze                       0
el-salvador-aid                            0
religious-groups-in-schools                0
anti-satellite-test-ban                    0
aid-to-nicaraguan-contras                  0
mx-missile                                 0
immigration:                               0
synfuels-corporation-cutback:              0
education-spending:                        0
superfund-right-to-sue:                    0
crime:                                     0
duty-free-exports:                         0
export-administration-act-south-africa:    0
dtype: int64

In [0]:
import numpy as np
sample1 = dem['duty-free-exports:']
sample2 = rep['duty-free-exports:']

difference = sample1 - sample2
# t-statistic
t = (np.mean(difference))/(difference.std(ddof=1)/np.sqrt(len(difference)))
print('t-statistic:',t)

t-statistic: nan

In [0]:
# P value 
s = np.random.standard_t(len(difference), size=100)
p = np.sum(s<t) / float(len(s))
# using a two-sided test
print("There is a {} % probability that the paired samples stem from distributions with the same means.".format(2 * min(p, 1 - p) * 100));

There is a 0.0 % probability that the paired samples stem from distributions with the same means.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in less